[Unit]
Description=A simple service

[Service]
RootDirectory=/home/chroot/sid/
ExecStartPre=/usr/local/bin/setup-chroot.sh
ExecStart=/usr/local/bin/script.sh
RootDirectoryStartOnly=yes